<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	  lang="ru">
<head>
<meta charset="ISO-8859-1">
<title>Start page</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>
<body>
<div align="center">

	<br/><br/>
	<h1>List of Sells</h1>
	<a th:href="@{/showNewSellForm}" class="btn btn-primary btn-sm mb-3"> Add Sell </a>
	<table border="1" cellpadding="10" class="fl-table">
		<thead>
			<tr>
				<th>Number of order</th>
				<th>Client</th>
				<th>Summary</th>
				<th>Date of order</th>
				<th>Date of deadline</th>

			</tr>
		</thead>
		<tbody>
			<tr th:each="project : ${sells}">
				<td th:text="${project.getNumOrder()}"></td>
				<td th:text="${project.getClient()}"></td>
				<td th:text="${project.getSumm()}"></td>
				<td th:text="${project.getDateOrder()}"></td>
				<td th:text="${project.getDeadline()}"></td>
				<td> <a th:href="@{/showSellForUpdate/{numbOrder}(numbOrder=${project.getNumOrder()})}" class="btn btn-primary">Update</a>
					<a th:href="@{/deleteSell/{numbOrder}(numbOrder=${project.getNumOrder()})}" class="btn btn-danger">Delete</a>
				</td>
			</tr>
		</tbody>
	</table>

	<h1>List of Researchers</h1>
	<table border="1" cellpadding="10" class="fl-table">
		<thead>
		<tr>
			<th>Id of researcher</th>
			<th>Name of researcher</th>
			<th>Surname of researcher</th>
			<th>Last name of researcher</th>

		</tr>
		</thead>
		<tbody>
		<tr th:each="researchers : ${researcher}">
			<td th:text="${researchers.getNumResearcher()}"></td>
			<td th:text="${researchers.getName()}"></td>
			<td th:text="${researchers.getSurname()}"></td>
			<td th:text="${researchers.getLast_name()}"></td>
		</tr>
		</tbody>
	</table>

	<h1>List of Devices</h1>
	<table border="1" cellpadding="10" class="fl-table">
		<thead>
		<tr>
			<th>Serial Number</th>
			<th>Type of device</th>
			<th>Number of order</th>
			<th>vendor</th>
			<th>Date of manufacture</th>
			<th>RAM</th>
			<th>COM</th>
			<th>CPU</th>
			<th>CD</th>
			<th>Country of manufacture</th>

		</tr>
		</thead>
		<tbody>
		<tr th:each="devices : ${device}">
			<td th:text="${devices.getSerial()}"></td>
			<td th:text="${devices.getCodeDevice()}"></td>
			<td th:text="${devices.getOrderNumb()}"></td>
			<td th:text="${devices.getVendor()}"></td>
			<td th:text="${devices.getManufactureDate()}"></td>
			<td th:text="${devices.getRam()}"></td>
			<td th:text="${devices.getCom()}"></td>
			<td th:text="${devices.getCpu()}"></td>
			<td th:text="${devices.getCd()}"></td>
			<td th:text="${devices.getCountry()}"></td>
		</tr>
		</tbody>
	</table>

	<h1>List of Researches</h1>
	<table border="1" cellpadding="10" class="fl-table">
		<thead>
		<tr>
			<th>Code of work</th>
			<th>Number of researcher</th>
			<th>Date of start research</th>
			<th>Days for research</th>
			<th>Serial number of device</th>

		</tr>
		</thead>
		<tbody>
		<tr th:each="researches : ${research}">
			<td th:text="${researches.getCodeWork()}"></td>
			<td th:text="${researches.getNumbResearcher()}"></td>
			<td th:text="${researches.getDateResearch()}"></td>
			<td th:text="${researches.getNumbDays()}"></td>
			<td th:text="${researches.getNumbSerial()}"></td>
		</tr>
		</tbody>
	</table>

	<h1>List of Devices types</h1>
	<table border="1" cellpadding="10" class="fl-table">
		<thead>
		<tr>
			<th>Code type of device</th>
			<th>Name of device's type</th>

		</tr>
		</thead>
		<tbody>
		<tr th:each="types : ${type}">
			<td th:text="${types.getCodeDevice()}"></td>
			<td th:text="${types.getDeviceName()}"></td>
		</tr>
		</tbody>
	</table>

	<br>
	<br>
	<br>
	<div sec:authorize="isAuthenticated()" id="greetings">
		You are logged in as <b><span sec:authentication="name">Username</span></b>
	</div>
	<form th:action="@{/logout}" method="post">
		<button class="button-35" role="button" type="submit" value="Logout">Logout</button>
	</form>
</div>
</body>
</html>